input:checked + span{
  text-decoration: line-through;
}

.App{
  text-align: center;
}

.TodoListItem{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 5px;
 margin-top: 10px;
}

.TodoListItem>button{
  background: url('./img/redCross.png');
  background-size: cover;
  background-repeat: no-repeat;
width: 20px;
height: 20px;
    border: 0;
    cursor: pointer;
}

